@import "reset";
@import "grid";

body {
    background-color: #efe9e7;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

@import "header";

/* 主內容 */

.content {
    h5 {
        font-size: 28px;
        color: #3D1101;
        text-align: center;
        padding: 20px 0 60px;
        position: relative;

        &::before {
            content: "";
            width: 15.94048%;
            height: 2px;
            background-color: #979797;
            position: absolute;
            top: 40%;
            left: 16%;

            @include pad768px() {
                left: 10%;
            }

            @include phone375px {
                width: 8%;
                left: 4%;
            }
        }

        &::after {
            content: "";
            width: 15.94048%;
            height: 2px;
            background-color: #979797;
            position: absolute;
            top: 40%;
            right: 16%;

            @include pad768px() {
                right: 10%;
            }

            @include phone375px {
                width: 8%;
                right: 4%;
            }
        }

    }
}

.feature {
    display: flex;
    justify-content: space-between;

    @include phone375px {
        flex-direction: column;
    }

    li {
        text-align: center;
        padding: 2.12539%;
        width: 33.33333%;

        @include phone375px {
            width: 100%;
        }

        h2 {
            font-family: MicrosoftJhengHeiRegular;
            font-size: 18px;
            color: #3D1101;
            margin: 6.37633% 0;
        }

        p {
            font-family: MicrosoftJhengHeiRegular;
            font-size: 16px;
            color: #3D1101;
            text-align: left;
        }

        img {
            border-radius: 50%;
        }
    }

}

.chef {
    background: #3D1101;
    display: flex;
    align-items: center;

    @include phone375px {
        flex-direction: column;
    }

    img {
        padding-left: 4.46333%;
        max-width: 100%;
        height: auto;
        margin-right: 2.65674%;

        @include pad768px {
            max-width: 50%;
        }

        @include phone375px {
            padding: 0.53134%;
            margin: 0;
        }
    }
}

.chef-text {
    h2 {
        font-family: MicrosoftJhengHeiRegular;
        font-size: 20px;
        color: #EFE9E7;
        line-height: 32px;

        @include phone375px {
            text-align: center;
        }
    }

    h3 {
        font-family: MicrosoftJhengHeiRegular;
        font-size: 16px;
        color: #EFE9E7;
        margin-bottom: 3.32578%;

        @include phone375px {
            text-align: center;
        }
    }

    p {
        font-family: MicrosoftJhengHeiRegular;
        font-size: 16px;
        color: #EFE9E7;
        margin-right: 16.00532%;

        @include pad768px() {
            margin-right: 5.50039%;
        }

        @include phone375px {
            width: 100%;
            padding: 2.66666%;
        }
    }
}

.difftext {
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    text-align: center;
    margin: 4.88281% 0;
}

.feedback {
    display: flex;
    margin: 0 4.46808%;

    @include pad768px() {
        margin: 0.52631%;
    }

    @include phone375px {
        flex-direction: column;
    }

    li {
        display: flex;
        align-items: start;
    }

    h2 {
        font-family: MicrosoftJhengHeiRegular;
        font-size: 18px;
        color: #3D1101;
        margin-bottom: 11.93628%;
    }

    h3 {
        font-family: MicrosoftJhengHeiRegular;
        font-size: 16px;
        color: #3D1101;
        line-height: 24px;
        margin-bottom: 8.68093%;
    }

    h4 {
        font-family: MicrosoftJhengHeiRegular;
        font-size: 16px;
        color: rgba(61, 17, 0, 0.75);
        line-height: 24px;
        text-align: right;
    }

    img {
        border-radius: 50%;
        margin-right: 4.18237%;

        @include pad768px() {
            margin-right: 2px;
        }
    }

    div {
        padding-right: 10px;
        margin-top: 20px;

        @include pad768px() {
            padding-right: 0;
        }
    }
}

.order {
    background: rgba(250, 250, 250, 0.70);
    padding: 0 42px 50px;
}

.order-text {
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    text-align: center;
    padding: 50px 0 38px;
}

.map {
    float: left;
    margin-right: 20px;
    width: 43%;

    @include phone375px {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
}

.form-info {
    display: flex;
    flex-direction: column;

    label {
        font-family: PingFangTC-Light;
        font-size: 14px;
        color: #3D1101;
        margin-bottom: 14px;
    }

    input,
    select {
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        margin-bottom: 8px;
        padding: 5.5px;
        font-size: 16px;
    }
}

.radio-yes {
    margin-right: 30px;
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 20px;

    button {
        background: rgba(0, 0, 0, 0.35);
        border-radius: 3px;
        font-family: PingFangTC-Regular;
        font-size: 14px;
        color: #FFFFFF;
        padding: 4px 13px;
        margin-left: 11px;
        border: none;
    }

    button:hover {
        background: #F56C23;
        border-radius: 3px;
        transform: translateY(-1px);
    }
}

@import "footer";